--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.5.1+cpu 
torchvision==0.6.1+cpu 

openvino-dev

# Packages that are used in the notebooks
matplotlib 
youtube_dl 
pytube

# ONNX demo
geffnet==0.9.8
fastseg
onnx
numpy==1.18.5

# Jupyter
notebook  # jupyterlab is recommended, notebook is the minimum requirement
ipython==7.10  # pin version to prevent async warnings

# Packages for testing/validating notebooks
nbval
nbqa[toolchain]
