--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.8.0+cpu 
torchvision==0.9.0+cpu 

--index-url https://test.pypi.org/simple 
--extra-index-url https://pypi.org/simple 
openvino-dev

matplotlib 
youtube_dl 
Pillow
jupyterlab

